.addRecipe{
  padding-top:70px;
  height: 100%;
  min-width: 100%;
  background-color: #F6F3F8;
}

.inputBox{
    padding-top: 3vh;
}

.fieldBox{
    text-align:center;
}
.example-full-width{
 width: 100%;
}
#descriptionform{
  width: 50%;
  float:right;
}
#middleForm{
  display: flex;
}
#bottomForm{
  height: 50%;
}
#photo{
  width: 50%;
  height: 200px;
  float:left;
}
#ingredientTable{
  width: 50%;
  height: 90%;
  float:left;
}
#table{
  overflow: auto;
  height: 100%;
  text-align: left;
}
#steps{
  width: 50%;
  height: 90%;
  float:right;
}
#addButton {
  position: absolute;
  bottom: 3em;
  right: 3em;
  height: 60px; /* Height of the footer */
}
.fullwidth{
 width: 100%;
}
