
.mealBox{
    padding-top: 5vh;
}
.form-inline{
  display: block;
  margin-left: 1em;
  margin-right: 1em;
}

body{
    background-color: #ECECEC;
    font-family: 'Comfortaa', cursive;
}
.author-text{
    color:#898989;
    font-style: italic;
}

.wrap{
    padding-top: 175px;
}
.recipetext{
  width: 78%;
}
#name{
 float:left;
}
#author{
  float:right;
}
#recipes{
  overflow: auto !important;
  height: 54%;
}
#recipes::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
.mealBox{
  padding-top: 5vh;
}
.recipetext{
  padding-left: 1em;
}
body{
  background-color: #ECECEC;
  font-family: 'Comfortaa', cursive;

}
.row{
  opacity: 0.8;
  height: 150px;
  background-color: #ECECEC;
  border-radius: 15px;
  margin-bottom: 1em;
}
.recipeimg{
  border-radius: 15px 0px 0px 15px;
  width: 20%;
  height: 100%;
}


.author-text{
  color:#898989;
  font-style: italic;
}

.wrap{
  padding-top: 175px;
}

.foodbase-pic{
  padding-bottom: 5vh;
}

i{
  float:right;
}

