
.mealBox{
    padding-top: 5vh;
}
.form-inline{
  display: block;
  margin-left: auto;
  margin-right: auto
}

body{
    background-color: #ECECEC;
    font-family: 'Comfortaa', cursive;

}

.author-text{
    color:#898989;
    font-style: italic;
}

.wrap{
    padding-top: 175px;
}

