<div class="fullheight">
  <div class="level">
    <div class="level-item">
      <span class="myLogo">Lazy food</span>
    </div>
  </div>
  <div class="level">
    <form class="level-item field">
      <input type="search" class="control merinda" size="50" placeholder="Search for food here..."
             [formControl]="search">
    </form>
  </div>
  <div class="row columns is-4 is-multiline recipes">
    <div *ngFor="let recipe of recipes; let i = index">
      <app-recipelistitem class="column is-two-thirds is-centered"
                          [recipe]="recipe"
                          (ratingChange)="onRatingChange($event)"
                          [rating]="ratings[i]"></app-recipelistitem>
    </div>
  </div>
</div>
