<mat-toolbar color="black">
  <mat-toolbar-row>
    <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
      <mat-icon>menu</mat-icon>
    </button>
    <img src="../../../../assets/images/FirstLogo.png" alt="Logotype" height="50" width="50" routerLink="">
    <div fxShow="true" fxHide.lt-md="true">
    <a *ngIf="!router.url.includes('/menu')&& login.isLoggedIn()" [routerLink]="['/menu', this.getYear(), this.getWeekNumber()]" mat-button>
      <mat-icon></mat-icon>
      Week List
    </a>
      </div>
    <div id="right" fxShow="true" fxHide.lt-md="true">
      <!-- The following menu items will be hidden on both SM and XS screen sizes -->
      <a *ngIf="!login.isLoggedIn()" (click)="modal.show()" mat-button>
        <mat-icon>login_box</mat-icon>
            Login/Register
      </a>
      <a mat-button *ngIf="login.isLoggedIn()" routerLink="profile">
        {{ login.getUserName() }}
      </a>
      <a mat-button *ngIf="login.isLoggedIn()" (click)="logout()">
        <mat-icon>exit</mat-icon>
        Logout
      </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container >
  <mat-sidenav-content >
    <router-outlet ></router-outlet>
  </mat-sidenav-content>
  <mat-sidenav  #sidenav
     mode="over"
    [fixedInViewport]="true" >
    <mat-nav-list>
      <a *ngIf="!router.url.includes('/menu')&& login.isLoggedIn()" [routerLink]="['/menu', this.getYear(), this.getWeekNumber()]"  (click)="sidenav.toogle()"  mat-list-item>
        <mat-icon></mat-icon>
        Week list
      </a>
      <a *ngIf="!login.isLoggedIn()" (click)="modal.show()" mat-list-item>
        <mat-icon></mat-icon>
        Login/Register
      </a>
      <a mat-list-item *ngIf="login.isLoggedIn()" routerLink="profile" (click)="sidenav.toogle()">
        <mat-icon></mat-icon>
        {{ login.getUserName()}}
      </a>
      <a *ngIf="login.isLoggedIn()"  (click)="logout()" (click)="sidenav.toogle()" mat-list-item>
        <mat-icon></mat-icon>
            Log out
      </a>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
<app-modal #modal >
  <div class="app-modal-header">
    <label *ngIf="!register" class="modal-title">Login to your account</label>
    <label *ngIf="register" class="modal-title">Create an account</label>
  </div>
  <div class="app-modal-body">
    <form *ngIf="!register" [formGroup]="profileForm">
      <div class="form-group-sm">
        <label>Username
          <input class="form-control" formControlName="username"  type="text">
        </label>
        <label>Password
          <input class="form-control" formControlName="password" type="password">
        </label>
      </div>
    </form>
    <form *ngIf="register" [formGroup]="profileForm" novalidate>
      <div id="userprofile">
        <label>Username
          <input class="form-control" formControlName="username"  type="text" >
        </label>
        <label>Password
          <input class="form-control" formControlName="password" type="password">
        </label>
        <table class="example-full-width" cellspacing="0"><tr>
          <td>
            <label>First name
              <input class="form-control" formControlName="forename" >
            </label>
          </td>
          <td>
            <label>last name
              <input class="form-control" formControlName="surname" >
            </label>
          </td>
        </tr></table>
      </div>
    </form>
  </div>
  <div class="app-modal-footer">
    <button type="button" class="btn btn-default" (click)="close(modal)" >Close</button>
    <button *ngIf="!register" type="button" class="btn btn-default" (click)="register = true">Register</button>
    <button *ngIf="!register" type="button" (click)="logIn(modal)" class="btn btn-primary">Login</button>
    <button [disabled]="profileForm.invalid" *ngIf="register" type="button" (click)="createAccount(modal)" class="btn btn-primary">Submit</button>
  </div>
</app-modal>



