<img class="recipeimg" *ngIf="recipe.image" [src]="recipe.image" style="pointer-events: none"/>
<div id="recipe-header">
  <h6>{{recipe.label}}
    <i *ngIf="globals.isLoggedIn">
      <star-rating-control (ratingChange)="onRatingChange($event)"
                           labelPosition="right" [rating]="value" [starType]="'icon'"></star-rating-control>
    </i>
  </h6>
</div>
<div class="recipe-body">
  <p><br>{{recipe.description}}</p>
</div>
<div class="footer">
  <i id="author">{{recipe.source}}</i>
</div>
