#name{
  float:left;
}
#author{
  float:right;
}
#recipes{
  overflow: auto !important;
  height: 54%;
}
#recipes::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
.mealBox{
  padding-top: 5vh;
}
.recipetext{
  height: 100%;
}
body{
  background-color: #ECECEC;
  font-family: 'Comfortaa', cursive;

}
.recipeimg{
  float: left;
  border-radius: 15px 0 0 15px;
  width: 20%;
  height: 100%;
}
.footer{
  position: absolute;
  bottom: 10%;
  right: 1%;
  height: 10%;
}

.author-text{
  color:#898989;
  font-style: italic;
}

.wrap{
  padding-top: 175px;
}


i{
  float:right;
}

