.card.large {
  height: 600px;
  -webkit-backface-visibility: hidden;
  backface-visibility: initial;
  border-radius: 5px;
}
.card {
  overflow:hidden;
}
.onelinetext{
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  height:80px;
}
.image{
 min-width: 100%;
}
.footer {
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
