<div class="profileForm">
  <form [formGroup]="profileForm" novalidate>
    <div id="top">
    <div id="photo">
      <div class="image-upload">
        <label for="file-input">
          <img *ngIf="img" [src]="img" style="pointer-events: none"/>
          <img *ngIf="!img" src="../../../assets/images/placeholder.png" style="pointer-events: none"/>
          <output id="list"></output>
        </label>
        <input id="file-input" type="file" #file accept="image/*" multiple="false" (change)="onFileSelected(file.files)" />
      </div>
    </div>
    <div id="userprofile">
    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width">
        <input matInput formControlName="forename" placeholder="First name">
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <input matInput formControlName="surname" placeholder="Last Name">
      </mat-form-field></td>
    </tr></table>
    <div formArrayName="address">
    <p>
      <mat-form-field style="width:18em" class="example-full-width">
        <input formControlName="street_name" matInput placeholder="Street Name">
      </mat-form-field>
    </p>

    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width">
        <input formControlName="city" matInput placeholder="City">
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <input formControlName="state" matInput placeholder="State">
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <input formControlName="postalcode" matInput #postalCode maxlength="5" placeholder="Postal Code" >
        <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
      </mat-form-field></td>
    </tr></table>
    </div>
    </div>
    </div>
    <div id="middle">
    <label>Billing</label>
    </div>
    <div id="addButton" class="fieldBox">
      <button *ngIf="profileForm.touched" [disabled]="profileForm.invalid" mat-raised-button  (click)="editProfile()"
              type="submit" color="primary">Edit profile</button>
    </div>
  </form>
</div>

