<div class="ui-week">
  <div class="ui-day" data-day="sun">
    <div class="ui-day-box">
      <div class="ui-bg" data-flip-key="bg-sun"></div>
      <div class="ui-grab -left"></div>
      <div class="ui-day-name" data-flip-key="sun"></div>
      <div class="ui-grab -right"></div>
    </div>
  </div>
  <div class="ui-day" data-day="mon">
    <div class="ui-day-box">
      <div class="ui-bg" data-flip-key="bg-mon"></div>
      <div class="ui-grab -left"></div>
      <div class="ui-day-name" data-flip-key="mon"></div>
      <div class="ui-grab -right"></div>
    </div>
  </div>
  <div class="ui-day" data-day="tue">
    <div class="ui-day-box">
      <div class="ui-bg" data-flip-key="bg-tue"></div>
      <div class="ui-grab -left"></div>
      <div class="ui-day-name" data-flip-key="tue"></div>
      <div class="ui-grab -right"></div>
    </div>
  </div>
  <div class="ui-day" data-day="wed">
    <div class="ui-day-box">
      <div class="ui-bg" data-flip-key="bg-wed"></div>
      <div class="ui-grab -left"></div>
      <div class="ui-day-name" data-flip-key="wed"></div>
      <div class="ui-grab -right"></div>
    </div>
  </div>
  <div class="ui-day" data-day="thu">
    <div class="ui-day-box">
      <div class="ui-bg" data-flip-key="bg-thu"></div>
      <div class="ui-grab -left"></div>
      <div class="ui-day-name" data-flip-key="thu"></div>
      <div class="ui-grab -right"></div>
    </div>
  </div>
  <div class="ui-day" data-day="fri">
    <div class="ui-day-box">
      <div class="ui-bg" data-flip-key="bg-fri"></div>
      <div class="ui-grab -left"></div>
      <div class="ui-day-name" data-flip-key="fri"></div>
      <div class="ui-grab -right"></div>
    </div>
  </div>
  <div class="ui-day" data-day="sat">
    <div class="ui-day-box">
      <div class="ui-bg" data-flip-key="bg-sat"></div>
      <div class="ui-grab -left"></div>
      <div class="ui-day-name" data-flip-key="sat"></div>
      <div class="ui-grab -right"></div>
    </div>
  </div>
</div>

<div class="ui-alert"><span class="ui-alert-days"></span><span> days removed</span></div>
<div class="ui-trash">
  <div class="ui-trash-lid"></div>
  <div class="ui-ridges"></div>
  <div class="ui-sparks">
    <div class="ui-spark"></div>
    <div class="ui-spark"></div>
    <div class="ui-spark"></div>
  </div>
</div>

<div class="ui-selection"></div>
