$color-border: #9153FF;
$color-purple: #7960A7;
$color-box: #F7E3FF;
$color-text-dark: #7A61A7;

*, *:before, *:after {
  user-select: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F2F5F7;
  transform-style: preserve-3d;
  perspective: 1000px;
  perspective-origin: calc(var(--trash-x) * 1px) calc(var(--trash-y) * 1px);

  // &:before {
  //   content: attr(data-prev-state)' ➡ 'attr(data-state);
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  // }
}

.ui-week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 70vw;
  height: 15vw;
  grid-column-gap: 1vw;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10vh;
}

%selected {
  color: $color-border;
  background: transparent;

  > .ui-bg {
    border-color: $color-border;
    background-color: $color-box;
  }
}

.ui-day {
  justify-self: stretch;
  align-self: stretch;
  background-color: #EAEDF4;
  border-radius: .25rem;
  grid-row: 1 / 2;

  @for $i from 1 through 7 {
    &:nth-child(#{$i}) {
      grid-column: var(--start, #{$i}) / var(--end, span 1);
    }
  }

  .ui-day-name {
    color: $color-purple;
    &:before {
      content: attr(data-flip-key);
    }
  }

  &[data-state="selected"] > .ui-day-box,
  [data-state="disposed"] &:hover .ui-day-box {
    @extend %selected;
  }

  &[data-state="selected"] > .ui-day-box {
    animation: selected .6s cubic-bezier(.5, 0, .5, 1);

    @keyframes selected {
      50% {
        transform: rotate(2deg);
      }
    }
  }

  [data-state="dragging"] &[data-state="selected"],
  [data-state="disposed"] &[data-state="selected"] {
    > .ui-day-box {
      z-index: 2;
      transition-duration: 0s;
      transform:
        translateX(calc((var(--drag-x2) - var(--drag-x1)) * 1px))
        translateY(calc((var(--drag-y2) - var(--drag-y1)) * 1px + (3px - var(--yc) * 3px)));
    }
  }

  [data-state="disposed"] &[data-state="selected"] > .ui-day-box {
    transition-duration: .3s;
    transform:
      translateX(calc((var(--drag-x2) - var(--drag-x1)) * 1px))
      translateY(calc((var(--drag-y2) - var(--drag-y1)) * 1px))
      translateZ(-1000px);
  }
}

.ui-day-box {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: inherit;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition-duration: .3s;
  z-index: 1;
  pointer-events: none;

  > .ui-bg {
    background-color: #fff;
    border: 4px solid white;
    border-radius: inherit;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition-duration: .3s;
    transition-property: border-color, background-color;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      box-shadow: 0 .5rem 1.5rem rgba($color-border, 0.2);
      z-index: -1;
    }
  }
}

[data-state="disposed"],
[data-state="grabbing"] {
  .ui-day[data-state="selected"] > .ui-day-box {
    opacity: 0;
    pointer-events: none;
  }

  .ui-day[data-state="grabbed"] > .ui-day-box {
    @extend %selected;
  }

  .ui-day-box {
    pointer-events: auto;
  }
}

.ui-grab {
  position: absolute;
  top: 0;
  height: 100%;
  width: 1vw;

  &.-left {
    left: 0;
  }

  &.-right {
    right: 0;
  }
}

.ui-grab, [data-state="grabbing"] {
  cursor: ew-resize;
}

.ui-selection {
  color: #7DDAFC;
  background: rgba(#7DDAFC, 0.3);
  border: 2px solid currentColor;
  position: absolute;
  left: calc(var(--mx1) * 1px);
  top: calc(var(--my1) * 1px);
  width: calc((var(--mx2) - var(--mx1)) * 1px);
  height: calc((var(--my2) - var(--my1)) * 1px);
  transition: opacity .3s ease-in-out;
  pointer-events: none;
  z-index: 3;

  [data-state]:not([data-state="selecting"]) & {
    opacity: 0;
  }
}

.ui-alert {
  color: #FF62A3;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
  white-space: nowrap;
  text-align: center;
  opacity: 0;

  [data-state="disposed"][data-prev-state="dragging"] &  {
    animation: alert 1s cubic-bezier(0, .5, 0, 1) both;
  }
  @keyframes alert {
    from {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    to {
      transform: translateY(-200%);
      opacity: 0;
    }
  }
}

.ui-trash {
  width: 5vw;
  height: 6vw;
  border: 2px solid $color-purple;
  border-bottom: none;
  border-top: none;
  background-image: linear-gradient(to right, white, white 60%, lighten($color-purple, 45%) 61%, lighten($color-purple, 45%));
  opacity: 0;
  transform: translateY(1vw);

  &, > * {
    transition-property: opacity, transform;
    transition-duration: .6s;
    trasition-timing-function: cubic-bezier(.5, 0, .5, 1);
  }

  z-index: 10;

  [data-state="dragging"] & {
    opacity: 1;
    transform: none;

    &:hover {
      transform: rotate(-10deg);

      > .ui-trash-lid {
        transform: rotate(25deg);
      }
    }
  }

  [data-state="disposed"] & {
    transition-duration: 1s;
    opacity: 0;
  }

  &:before, &:after {
    content: '';
    position: absolute;
    width: calc(100% + 4px);
    left: -2px;
    height: 1vw;
    border: 2px solid $color-purple;
    border-bottom-left-radius: 100% 100%;
    border-bottom-right-radius: 100% 100%;
    background-image: inherit;
  }

  &:before {
    top: 100%;
    border-top: none;
    border-bottom-left-radius: 100% 100%;
    border-bottom-right-radius: 100% 100%;
  }
  &:after {
    bottom: calc(100% - .5vw);
    border-top-left-radius: 100% 100%;
    border-top-right-radius: 100% 100%;
  }

  > .ui-ridges {
    height: 70%;
    width: 2px;
    background-color: $color-purple;
    position: absolute;
    left: calc(50% - 1px);
    top: 25%;
    pointer-events: none;

    &:before, &:after {
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      background-color: inherit;
    }
    &:before {
      left: -1.5vw;
      transform: rotate(-2deg);
    }
    &:after {
      left: 1.5vw;
      transform: rotate(2deg);
    }
  }

  .ui-spark {
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: $color-purple;
    position: absolute;
    top: -1vw;
    left: -1vw;
    opacity: 0;
    transition: transform 1s, opacity .1s;

    [data-state="dragging"] & {
      opacity: 0;
    }
    [data-state="disposed"] & {
      opacity: 1;
      transform: translate(-2vw, -1vw) scale(0);

      &:nth-child(2) {
        transform: translate(-2vw, -3vw) scale(0);
      }
      &:nth-child(3) {
        transform: translate(2vw, -1vw) scale(0);
      }
    }

    &:nth-child(2) {
      top: -1vw;
      left: 1vw;
    }
    &:nth-child(3) {
      top: -.5vw;
      left: 5vw;
    }
  }
}

.ui-trash-lid {
  position: absolute;
  bottom: calc(100% - .5vw);
  height: 1vw;
  width: 120%;
  left: -10%;
  border: 2px solid $color-purple;
  border-bottom-left-radius: 100% 100%;
  border-bottom-right-radius: 100% 100%;
  border-top-left-radius: 100% 100%;
  border-top-right-radius: 100% 100%;
  background-color: white;
  z-index: 1;
  transform-origin: 120% center;

  &:before, &:after {
    content: '';
    position: absolute;
    border: inherit;
    background-color: inherit;
  }

  &:before {
    width: 80%;
    height: 1vw;
    left: 10%;
    bottom: calc(100% - .4vw);
    border-radius: inherit;
  }

  &:after {
    width: 50%;
    left: 25%;
    height: 1.2vw;
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    bottom: 107%;
    border-bottom: none;
    background-color: transparent;
  }
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
  position: relative;
}
