<div class="container addRecipe">
    <div class="fieldBox">
      <mat-form-field class="fullwidth">
        <input [(ngModel)]="recipe.name" matInput placeholder="Name" >
      </mat-form-field>
    </div>
    <div id="middleForm">
      <div id="photo">
        <div class="image-upload">
          <label for="file-input">
            <img *ngIf="recipe.img" [src]="recipe.img" style="pointer-events: none"/>
            <img *ngIf="!recipe.img" src="../../../assets/placeholder.png" style="pointer-events: none"/>
            <output id="list"></output>
          </label>
          <input id="file-input" type="file" #file accept="image/*" multiple="false" (change)="onFileSelected(file.files)" />
        </div>
      </div>
      <div id="descriptionform" class="inputBox">
        <label>Description</label>
        <div class="form-group-sm">
          <div class="fieldBox">
            <mat-form-field class="fullwidth">
              <textarea matInput mat-autosize="true" matAutosizeMaxRows="10" placeholder=""></textarea>
              <mat-hint align="start"><strong>use # for tags and categories</strong></mat-hint>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <div id="bottomForm" class="inputBox">
      <div id="ingredientTable">
        <label id="ingredientlabel">Ingredients</label>
        <button mat-button type="button" (click)="recipe.addEmptyIngredient()">+</button>
        <div id="table" #scrollMe [scrollTop]="scrollMe.scrollHeight">
          <table cellspacing="0">
            <thead>
            <tr>
              <td id="ingredient">Ingredient</td>
              <td>Volume</td>
            </tr>
            </thead>
              <tr *ngFor="let ingredient of recipe.ingredients;let i = index">
                <td>
                  <mat-form-field class="fullwidth">
                    <input matInput placeholder="" [(ngModel)]="recipe.ingredients[i].name">
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field class="fullwidth">
                    <input matInput placeholder="" [(ngModel)]="recipe.ingredients[i].volume">
                  </mat-form-field>
                </td>
                  <button mat-button type="button" (click)="recipe.removeIngredient(i)">x</button>
              </tr>
          </table>
        </div>
      </div>
      <div id="steps">
        <label>Steps</label>
        <button mat-button type="button" (click)="addInstruction()">+</button>
        <table >
          <tr *ngFor="let instruction of recipe.instructions;let i = index">
            <td>{{i+1}}</td>
            <td>
              <mat-form-field class="fullwidth">
                <input matInput [(ngModel)]="recipe.instructions[i].name" #instructionfield (keyup)="eventHandler($event,i)">
              </mat-form-field>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div id="addButton" class="fieldBox">
      <button mat-raised-button  (click)="addRecipe()" type="submit" color="primary">Add recipe</button>
    </div>
</div>
