<div class="container addRecipe">
    <form [formGroup]="recipeForm" novalidate>
    <div class="fieldBox">
      <mat-form-field class="fullwidth">
        <input matInput placeholder="Name" formControlName="name">
        <mat-error *ngIf="Name.invalid">
          Name is required to be atleast {{NAMELENGTH}} letters long
        </mat-error>
      </mat-form-field>
    </div>
    <div id="middleForm">
      <div id="photo">
        <div class="image-upload">
          <label for="file-input">
            <img *ngIf="img" [src]="img" style="pointer-events: none"/>
            <img *ngIf="!img" src="../../../assets/placeholder.png" style="pointer-events: none"/>
            <output id="list"></output>
          </label>
          <input id="file-input" type="file" #file accept="image/*" multiple="false" (change)="onFileSelected(file.files)" />
        </div>
      </div>
      <div id="descriptionform" class="inputBox">
        <label>Description</label>
        <div class="form-group-sm">
          <div class="fieldBox">
            <mat-form-field class="fullwidth">
              <textarea formControlName="description" matInput mat-autosize="true" matAutosizeMaxRows="10" placeholder=""></textarea>
              <mat-hint align="start"><strong>use # for tags and categories</strong></mat-hint>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <div id="bottomForm" class="inputBox">
      <div id="ingredientTable" >
        <label id="ingredientlabel">Ingredients</label>
        <button mat-button type="button" (click)="addIngredient()">+</button>
        <div id="table" #scrollMe [scrollTop]="scrollMe.scrollHeight">
          <table cellspacing="0">
            <div formArrayName="ingredients">
            <thead>
            <tr>
              <td></td>
              <td id="ingredient">Ingredient </td>
              <td > Volume</td>
            </tr>
            </thead>
              <tr *ngFor="let ingredient of ingredientForm.controls;let i = index"
                  [formGroupName]="i">
                <td>{{i+1}}</td>
                <td>
                  <mat-form-field class="fullwidth">
                    <input matInput placeholder="" formControlName="name">
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field class="fullwidth">
                    <input matInput placeholder="" formControlName="volume">
                  </mat-form-field>
                </td>
                  <button mat-button type="button" (click)="deleteIngredient(i)">x</button>
              </tr>
              </div>
          </table>
        </div>
      </div>
      <div formArrayName="" id="steps" formArrayName="instructions">
        <label>Steps</label>
        <button mat-button type="button" (click)="jumpToStep()">+</button>
        <table >
          <tr *ngFor="let instruction of instructionForm.controls;let i = index"
          [formGroupName]="i">
            <td>{{i+1}}</td>
            <td>
              <mat-form-field class="fullwidth">
                <input matInput formControlName="instruction"  #instructionfield (keyup)="eventHandler($event,i)">
              </mat-form-field>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div id="addButton" class="fieldBox">
      <button [disabled]="recipeForm.invalid" mat-raised-button  (click)="addRecipe()" type="submit" color="primary">Add recipe</button>
    </div>
    </form>
</div>
