<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <div class="collapse navbar-collapse" id="lazy-navbar">
    <img src="../../assets/images/FirstLogo.png" alt="Logotype" height="50" width="50">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
      <li class="hvr-underline-from-center" *ngIf="!router.url.endsWith('/')" routerLink=""><a>HOME</a></li>
      <li class="hvr-underline-from-center" *ngIf="!router.url.endsWith('addrecipe')&& globals.isLoggedIn" routerLink="addrecipe"><a>ADD RECIPE</a></li>
    </ul>
    <ul class="nav navbar-right" >
      <li class="hvr-underline-from-center" ><a [hidden]="globals.isLoggedIn" (click)="modal.show()">LOGIN/REGISTER &ensp;</a></li>
      <li class="hvr-underline-from-center"  [hidden]="!globals.isLoggedIn" routerLink="editprofile"><a>{{globals.user | uppercase}}</a></li>
      <li class="hvr-underline-from-center" ><a [hidden]="!globals.isLoggedIn" (click)="logout()">LOGOUT</a></li>
    </ul>
  </div>
</nav>
<app-modal #modal>
  <div class="app-modal-header">
    <label class="modal-title" id="myModalLabel">Login or create an account</label>
  </div>
  <div class="app-modal-body">
    <form *ngIf="!register" [formGroup]="profileForm">
      <div class="form-group-sm">
        <label>Username</label>
        <input class="form-control" formControlName="username"  type="text" ><br/>
        <label>Password</label>
        <input class="form-control" formControlName="password" type="password"><br/>
      </div>
    </form>
    <form *ngIf="register"[formGroup]="profileForm" novalidate>
      <div id="userprofile">
        <table class="example-full-width" cellspacing="0"><tr>
          <td><mat-form-field class="example-full-width">
            <input matInput formControlName="username" placeholder="username">
          </mat-form-field></td>
          <td><mat-form-field class="example-full-width">
            <input matInput formControlName="password" placeholder="password" type="password">
          </mat-form-field></td>
        </tr></table>
        <table class="example-full-width" cellspacing="0"><tr>
          <td><mat-form-field class="example-full-width">
            <input matInput formControlName="forename" placeholder="First name">
          </mat-form-field></td>
          <td><mat-form-field class="example-full-width">
            <input matInput formControlName="surname" placeholder="Last Name">
          </mat-form-field></td>
        </tr></table>
      </div>
    </form>
  </div>
  <div class="app-modal-footer">
    <button type="button" class="btn btn-default" (click)="modal.hide()">Close</button>
    <button *ngIf="!register" type="button" class="btn btn-default" (click)="regAct()">Register</button>
    <button *ngIf="!register" type="button" (click)="logIn(modal)" class="btn btn-primary">Login</button>
    <button [disabled]="profileForm.invalid" *ngIf="register" type="button" (click)="createAccount(modal)" class="btn btn-primary">Submit</button>
  </div>
</app-modal>

