<div class="start">
   <div class="form wrap text-center">
        <img class="foodbase-pic" src="../../assets/images/lazy.png" alt="logotext">
        <form class="form-inline">
                <input name="recipesearch" [(ngModel)]="recipefield" type="text" class="form-control" size="50"
                       (keyup)="0" placeholder="Search for food here..." required>
        </form>
    </div>
  <div class="container" id="recipes">
    <div class="row" *ngFor="let recipe of recipes | matchesSearch : recipefield" >
        <img class="recipeimg" *ngIf="recipe.img" [src]="recipe.img" style="pointer-events: none"/>
        <img class="recipeimg" *ngIf="!recipe.img" src="../../../assets/images/placeholder.png" style="pointer-events: none"/>
        <div class="recipetext">
        <h5><b id="name">{{recipe.name}}</b><i id="author">{{recipe.author}}</i></h5>
        <p><br>{{recipe.description}}</p>
        </div>
        <i class="removeButton fa fa-times hvr-icon-pulse-grow" [hidden]="globals.isLoggedIn" (click)="removeRecipe(recipe.id)"></i>
    </div>
  </div>
</div>

