.level{
  display: flex;
  align-items: center;

}
table{
  background-color: transparent!important;
}
.text{
 width: 20ch;
 height: 10ch;
 text-align: center!important;
}
#addButton {
  position: absolute;
  bottom: 5em;
  right: 2em;
  height: 60px; /* Height of the footer */
}
