  <div class="level ">
    <span class="box" (click)="navigate(-1)" ><p class="ion-md-arrow-back"></p></span>
    <span class="box" (click)="navigate(1)"><p class="ion-md-arrow-forward"></p></span>
  </div>
<div class="columns is-gapless" >
    <div class=" has-text-centered column" *ngFor="let day of weekDays; let i = index">
      <div class="days has-background-black has-text-white">
      {{day}}
      </div>
      <div class="has-text-centered has-text-white" >{{weekDates[i].format('Do MMMM')}}</div>
      <div class="is-margin">
      <app-recipelistitem [recipe]="weekRecipes[i]"  [rating]="0"></app-recipelistitem>
       </div>
    </div>
  <span (click)="verifyWeekList()" class="button is-success is-rounded" *ngIf="!submitted" id="addButton">
Save changes
</span>
</div>



