<div class="home">
  <div class="level">
    <div class="level-item">
      <img class="" src="../../../../assets/images/lazy.svg" alt="logotext">
    </div>
  </div>
  <div class="level">
    <form class="level-item ">
      <input type="search" class="form-control" size="50" placeholder="Search for food here..." [formControl]="search">
    </form>
  </div>
  <div class="row columns is-multiline recipes">
      <app-recipelistitem *ngFor="let recipe of recipes"
                          class="column is-one-fifth" [recipe]="recipe"></app-recipelistitem>
  </div>
</div>
