<div class="fullheight">
  <div class="level">
    <div class="level-item">
      <img src="../../../../assets/images/lazy.svg" alt="logotext">
    </div>
  </div>
  <div class="level">
    <form class="level-item field">
      <input type="search" class="control " size="50" placeholder="Search for food here..." [formControl]="search">
    </form>
  </div>
  <div class="row columns is-multiline recipes">
      <app-recipelistitem *ngFor="let recipe of recipes; let i = index"
                          class="column is-one-fifth" [recipe]="recipe" [rating]="ratings[i]" ></app-recipelistitem>
  </div>
</div>
