@import "../node_modules/bulma/css/bulma.min.css";
@import "../node_modules/font-awesome/css/font-awesome.min.css";
html,body{
  height: 100%;
  width: 100%;
  max-height: 100%;
  overflow: hidden;
}
.background{
  height: 100%;
  background-image: url("/assets/images/background.svg");
  background-size:cover;
  -webkit-filter: blur(8px);
  -moz-filter: blur(8px);
  -o-filter: blur(8px);
  -ms-filter: blur(8px);
  filter: blur(8px);
  position:absolute;
  z-index: -1;
  width:100%;
}
.shadow {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.fullheight{
  height:100%;
  width: 100%;
  max-width: 100%;
  overflow: auto;
}
.is-primary{
  background-color: #800080!important;
}
.is-success{
  background-color: #E000E0!important;
}
.navbar-item.active {
  border-bottom: 3px solid currentColor;
}
