@import url("../node_modules/bulma/css/bulma.css");
body,html{
  height: 100%;
  background-image: url("/assets/images/background.svg");
  overflow: hidden;
}
.modal-dialog{
  background: black;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  height: auto;
  padding: 2em 4em 2em 4em;
  margin: 0 -50% 0 0;
  transform: translate(-50%, -50%)
}
.amplify-form-body > * {
  display: block;
  padding: 1em;
}
