@import url("../node_modules/bulma/css/bulma.min.css");
html,body{
  height: 100%;
  width: 100%;
  max-height: 100%;
  overflow: hidden;
}
.background{
  height: 100%;
  background-image: url("/assets/images/background.svg");
  background-size:cover;
  -webkit-filter: blur(8px);
  -moz-filter: blur(8px);
  -o-filter: blur(8px);
  -ms-filter: blur(8px);
  filter: blur(8px);
  position:absolute;
  z-index: -1;
  width:100%;
}
